<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meine ASP.NET-Anwendung</title>
    @Styles.Render("~/Content/css")
	@RenderSection("styles", false)
    @Scripts.Render("~/bundles/modernizr")
	

</head>
<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
            @Html.ActionLink("Barbisan & Brügger AG", "Index", "Home", protocol: null, hostName: null, fragment: "page-top", routeValues: null,
                           htmlAttributes: new { @class = "nav-link navbar-brand js-scroll-trigger" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @*@if (ViewBag.Title == "HomePage")
            {*@
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            @Html.ActionLink("About", "Index", "Home", protocol: null, hostName: null, fragment: "about", routeValues: null,
                         htmlAttributes: new { @class = "nav-link js-scroll-trigger" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Services", "Index", "Home", protocol: null, hostName: null, fragment: "services", routeValues: null,
                          htmlAttributes: new { @class = "nav-link js-scroll-trigger" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Contact", "Index", "Home", protocol: null, hostName: null, fragment: "contact", routeValues: null,
                          htmlAttributes: new { @class = "nav-link js-scroll-trigger" })
                        </li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            @*}*@
        </div>
    </nav>

    <div class="body-content">
        @RenderBody()
        @*<hr />*@
        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
            </div>
            <!-- /.container -->
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-easing")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scrolling-nav")
    @RenderSection("scripts", required: false)
</body>
</html>
